<ng-container *ngIf="country$ | async as country">
  <div class="container">
    <div class="navigation">
      <div class="navigation__icon" routerLink="/"></div>
      <div class="navigation__text">Вернуться</div>
    </div>

    <div class="card__country_header">{{country.name}}</div>

    <div class="card__country_body">
      <div class="description">
        <span class="country__description">Capital</span>
        <div class="country__description_value">{{country.capital}}</div>
      </div>

      <div class="description">
        <span class="country__description">Continent</span>
        <div class="country__description_value">{{country.continent.name}}</div>
      </div>

      <div class="description">
        <span class="country__description">Currency</span>
        <div class="country__description_value"> {{country.currency}}</div>
      </div>

      <div class="description">
        <span class="country__description">Emoji</span>
        <div class="country__description_value">{{country.emoji}}</div>
      </div>

      <div class="description">
        <span class="country__description">Phone</span>
        <div class="country__description_value">{{country.phone}}</div>
      </div>
    </div>
  </div>
</ng-container>
