.container {
  margin: 0;
  background-color: #E5E5E5;
  .country__info {

    .header {
      padding-left: 63px;
      padding-top: 52px;
      padding-bottom: 64px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;
    }
  }

}



